
    <section>
      <form id="search-form" action="/buscar" method="POST">
        <label for="search">Search</label>
        <input id="buscar" name="buscar" type="buscar"  placeholder="Busqueda" />
        <input type="submit" />
      </form>
      <a class="buttons" href="/articulos/1">Back</a>
    </section>
  