

<form id="login-formulario"  method="post">
  <input type="text" name="email" id="email" placeholder="Introduce el email" />

  <input type="password" name="password" id="password" placeholder="Enter password" />

  <input type="submit" />
</form>


<a class="buttons" href="/">Back</a>
