

<h1>Login</h1>

<!-- falta el action -->
<form id="login"  method="post">
  <input type="text" name="email" id="email" placeholder="Introduce el email" />

  <input type="text" name="password" id="password" placeholder="escribe la contraseña"/>

  <input type="submit" />
</form>

<div class="error-message">
  <% if (typeof error !== 'undefined') { %>
  <p><%= error %></p>
  <% } %>
</div>

<a id="atras" href="/">Home</a>
